body{
    background-color: plum;
    padding-top: 15%;
    padding-bottom: 16.5%;;
}

body:hover{
    background-color: powderblue;
}

h1 {
    text-align: center;
    color: slategray;
    font-size: 350%;
}

li {
    list-style-type: georgian;
}

h3 {
    text-align: right;
    font font-weight: bold;
    font-family: cursive;
    text-decoration: overline;
}

a {
    text-decoration: none;
    color: lightcoral;
    font-family: fantasy;
}

a:hover{
    font-size: 400%;
}

h2 {
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
    letter-spacing: .2em;
}

p {
    margin-left: 12%;
    margin-right: 12%;
    text-align: right;
    color: blueviolet;
    line-height: 2em;
}

.navzone {
    background-color: mediumspringgreen;
    border: 12px solid darkmagenta;
}

.navzone:hover{
    border-width: 120px;
}

.content {
    background-color: lemonchiffon;
    border: 12px solid lavender;
}

.content:hover{
    background-color: mediumaquamarine;
    border: 120px solid saddlebrown;
}

.prose {
    background-color: greenyellow;
    margin-left: 10%;
    margin-right: 10%;
}

#tehlulz {
    background-color: chartreuse;
}

.extreme {
    margin: 1%;
    background-color: lightcyan;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-size: 190%;
}

#head1{
    margin-right: 12%;
    margin-left: 12%;
    background-color: khaki;
    font-family: monospace;
}

#head1:hover{
    font-family: cursive;
}

